.BuildControls {
  width: 100%;
  background-color: #703b09;
  display: flex;
  flex-flow: column;
  padding: 12px 0;
  margin: auto;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
}

.OrderButton {
  margin: 10px;
  background-color: #40a4cb;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #43b3df;
  color: white;
}

.OrderButton:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
  color: grey;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 600px) {
  .BuildControls {
    margin: auto;
  }
}
