.Burger {
  width: 100%;
  margin: auto;
  height: 320px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 548px;
  }
}

.styleScroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f6ce93;
}

.styleScroll::-webkit-scrollbar-thumb {
  background-color: #703b09;
}

.styleScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f6ce93;
}
