.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.BuildControl button:disabled {
  background-color: #b48686;
  border: none;
  color: lightgrey;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #b48686;
  color: lightgrey;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #ff8080;
  color: white;
}

.BuildControl .More {
  background-color: #65d49d;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #f09e9e;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #80e7b4;
  color: white;
}
