.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

.CheckoutSummary h2 {
  margin-top: 80px;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 80%;
  }
}

.CheckoutSummary button {
  margin: 0 15px;
}
